
main {
  min-height: 80vh;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

h3 {
  padding: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}

.profile-link {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}


.circle {
  width: 50px !important;
  height: 50px !important;
  margin: 0 30px !important;
  border-radius: 50%;
  box-shadow: 0px 0px 2px 2px #0000001a;
}

.pulse {
  animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
  0% {
		
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.8);
	}
	
	70% {
		
		box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
	}
	
	100% {
		
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
	}
}


.btn--outline {
  background-color: transparent;
  color: #fff;
  padding: 8px 20px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
}

.btn--outline:hover {
  background: #fff;
  color: #242424;
  transition: all 0.3s ease-out;
}


.marquee {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 10s linear infinite;
  color: #fff;
}

.marquee2 span {
  animation-delay: 3.5s;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 400px;
  padding: 30px;
  margin: 40px;
  border-radius: 20%;
}
.carousel a {
  margin: 0 auto;
}

 /* NAVBAR */
 .navbar {
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  z-index: 1000;
}

.navbar-logo:hover {
  color: #fff;
  text-decoration: none;
}

.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
  margin-right: 2rem;
  margin-top: 0;
  margin-bottom: 0;
}

 .nav-item {
  height: 80px;
}

.sign-item{
 margin-top: 18px !important;
} 

.nav-links {
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  text-decoration: none;
/*   padding: 0.5rem 1rem; */
  height: 50px;
  line-height: 46px;
  width: 20%;
  margin: 0 auto;
}

.nav-links:nth-of-type(4) {
  margin-bottom: 100px;
}

.nav-links:hover {
  border-bottom: 4px solid #fff;
  border-top: 4px solid #fff;
  transition: all 0.2s ease-out;
  text-decoration: none;
  color: #fff;
}

.nav-linkss {
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  text-decoration: none;
/*   padding: 0.5rem 1rem; */
  height: 50px;
  line-height: 46px;
  width: 20%;
  margin: 0 auto;
}

.nav-linkss:nth-of-type(5) {
  margin-bottom: 0px;
}

.nav-linkss:hover {
  border-bottom: 4px solid #fff;
  border-top: 4px solid #fff;
  transition: all 0.2s ease-out;
  text-decoration: none;
  color: #fff;
}

.off{
  line-height: 36px;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

 /*  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  } */

  .nav-links:hover {
    background-color: #fff;
    color: #242424;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 30%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
  }
}

.profile-link {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin:  20px auto;
  cursor: pointer;
}


.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0px 0px 1px 1px #0000001a;
}

.pulse {
  animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
  0% {
		
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
	}
	
	70% {
		
		box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
	}
	
	100% {
		
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
	}
}


.btn--outline {
  background-color: transparent;
  color: #fff;
  padding: 8px 20px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
}

.btn--outline:hover {
  background: #fff;
  color: #242424;
  transition: all 0.3s ease-out;
}


.marquee {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 10s linear infinite;
  color: #fff;
}

.marquee2 span {
  animation-delay: 3.5s;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}


/* HOMEPAGE HERO */
video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.hero-container {
  /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
  height: calc(100vh - 90px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.hero-container > h1 {
  color: #fff;
  font-size: 100px;
  margin-top: -100px;
}

.hero-container > p {
  margin-top: 8px;
  color: #fff;
  font-size: 32px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.hero-btns {
  margin-top: 32px;
}

.hero-btns .btn {
  margin: 6px;
}

.fa-play-circle {
  margin-left: 4px;
}

@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 50px;
    margin-top: -100px;
  }

  .hero-container > p {
    font-size: 30px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}

/* BUTTON */
:root {
  --primary: #fff;
}

.btn {
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn--primary {
  background-color: var(--primary);
  color: #242424;
  border: 1px solid var(--primary);
}

.btn--outline {
  background-color: transparent;
  color: #fff;
  padding: 8px 20px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
}

.btn--medium {
  padding: 8px 20px;
  font-size: 20px;
}

.btn--large {
  padding: 12px 26px;
  font-size: 20px;
}

.btn--medium:hover,
.btn--large:hover {
  background: #fff;
  color: #242424;
  transition: all 0.3s ease-out;
}


/* LOGIN */


@media (max-width: 767px) {
  .page {
    height: 100%;
  }
}
.container-login {
  display: flex;
  height: 320px;
  margin: 0 auto;
  width: 640px;
  position: relative;
  top: 80%;
  transform: translateY(80%);
}
@media (max-width: 767px) {
  .container-login {
    flex-direction: column;
    height: 630px;
    width: 320px;
  }
}

.left {
  background-color: #f1f1f2;
  height: calc(100% - 40px);
  top: 20px;
  position: relative;
  width: 50%;
}

.left-signup {
  background: #f1f1f2;
  height: calc(100% - 40px);
  top: 20px;
  position: relative;
  width: 50%;
}
@media (max-width: 767px) {
  .left {
    height: 100%;
    left: 20px;
    width: calc(100% - 40px);
    max-height: 270px;
  }
}
.login {
  font-size: 50px;
  font-weight: 900;
  margin: 50px 40px 40px;
}
.eula {
  color: #999;
  font-size: 14px;
  line-height: 1.5;
  margin: 40px;
}
.right {
  background: #474a59;
  box-shadow: 0px 0px 40px 16px rgba(0, 0, 0, 0.22);
  color: #f1f1f2;
  position: relative;
  width: 50%;
}

.right-signup {
  background: #474a59;
  box-shadow: 0px 0px 40px 16px rgba(0, 0, 0, 0.22);
  color: #f1f1f2;
  position: relative;
  width: 50%;
  height: 500px;
  margin-top: -100px !important;
}
@media (max-width: 767px) {
  .right {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    max-height: 350px;
  }

  .right-signup {
    max-height: 520px;
  }
}

.form {
  margin: 40px;
  position: absolute;
}
label {
  color: #c2c2c5;
  display: block;
  font-size: 14px;
  height: 16px;
  margin-top: 20px;
  margin-bottom: 5px;
}
input {
  background: transparent;
  border: 0;
  color: #f2f2f2;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  outline: none !important;
  width: 100%;
}
input::-moz-focus-inner {
  border: 0;
}
#submit {
  background-color: transparent;
  color: #fff;
  padding: 8px 30px;
  margin-top: 40px;
  margin-left: 60px;
  transition: color 300ms;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  border: 1px solid #e2e2e5;
}

#submit:hover {
  background-color: #e2e2e5;
  color: #2d2f36;
  transition: 1s all ease-in-out;
}

#email,
#password,
#name,
#lastName,
#confirmPassword {
  border-bottom: 1px solid white;
}

/* CHATS */

.infinite-container {
  height: 500px;
  overflow-y: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
  border-radius: 10px;
  display: flex;
}

.btn-upload,
.btn-enter {
  padding: 5px 20px;
  background-color: #3b9af3;
  color: #fff;
  border-radius: 10px;
  border: 1px solid #e2e2e5;
  margin-top: 2px;
  cursor: pointer;
  outline: none;
}

.btn-enter:disabled,
.btn-enter[disabled] {
  border: 2px solid #dfdce1;
  background-color: #fff;
  color: #dfdce1;
  cursor: not-allowed;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.avatar > img {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
}

.comment {
  background-color: #dcdcdc;
  margin-top: 20px;
  padding: 10px;
  width: 40%;
  border-radius: 10px;
}

.comment-text {
  width: 80%;
}



.justifyStart {
  margin-left: 0px;
}



.image-div{
  display: flex;
  justify-content: center;
}

.profile-image{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 0 auto;
}

/* ----------------CONTACT------------------- */

.bg-contact > h1{
  text-align: center;
  margin-top: 30px;
}


.wrap-contact100 {
  width: 50%;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 110px 130px 157px 148px;
}

.container-contact100{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-right{
  width: 40%;
  margin-top: 80px;
}

.contact100-pic {
  width: 310px;
  padding-top: 55px;
}

.contact100-pic img {
  max-width: 100%;
}


.contact100-form {
  width: 390px;
}

.contact100-form-title {
  display: block;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-size: 24px;
  color: #333333;
  line-height: 1.2;
  text-align: left;
  padding-bottom: 36px;
}

input.input100 {
  height: 50px;
  border-radius: 25px;
  padding: 0 30px 0 50px;
}

input.input100[name="email"] {
  padding: 0 30px 0 54px;
}

textarea.input100 {
  min-height: 150px;
  border-radius: 25px;
  padding: 14px 30px;
}

.wrap-input100 {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 10px;
}

.input100 {
  display: block;
  width: 100%;
  background: #e6e6e6;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;
}

.focus-input100 {
  display: block;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(132,106,221, 0.5);
}

.input100:focus + .focus-input100 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 60px 25px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 60px 25px;
    opacity: 0;
  }
}

.symbol-input100 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 30px;
  pointer-events: none;
  color: #aaaaaa;
  font-size: 15px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100 + .symbol-input100 {
  color: #846add;
  padding-left: 22px;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-contact100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

.contact100-form-btn {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: #846add;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  border: none;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact100-form-btn:hover {
  background: #333333;
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 1200px) {
  .contact100-pic {
    width: 33.5%;
  }

  .contact100-form {
    width: 44%;
  }
}

@media (max-width: 992px) {
  .wrap-contact100 {
    padding: 110px 80px 157px 90px;
  }

  .contact100-pic {
    width: 35%;
  }

  .contact100-form {
    width: 55%;
  }
}

@media (max-width: 768px) {
  .wrap-contact100 {
    padding: 110px 80px 157px 80px;
  }

  .contact100-pic {
    display: none;
  }

  .contact100-form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .wrap-contact100 {
    padding: 110px 15px 157px 15px;
  }
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 13px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
  pointer-events: none;

  font-family: Montserrat-Medium;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 13px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

.message-out{
  font-size: 2rem;
  color: 	#7FFF00;
  text-align: center;
  padding: 10px 20px;
}

#adminmenu{
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: #f1f1f1;
  margin-bottom: 40px;
}


.button-search {
	display: inline-block;
	margin: 4px 2px;
	background-color: #242424;
	font-size: 14px;
	padding-left: 32px;
	padding-right: 32px;
	height: 42px;
	line-height: 42px;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.button-search:hover {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	background-color: white;
	color: black;
}

.search-container {
	position: relative;
  display: flex;
  justify-content: flex-end;
	margin: 4px 2px;
	height: 42px;
	width: 100%;
	vertical-align: bottom;
}

.mglass {
	display: inline-block;
	pointer-events: none;
}

.searchbutton {
	position: absolute;
	font-size: 22px;
	width: 42px;
	margin: 0;
	padding: 0;
}

.search:focus + .searchbutton {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	background-color: white;
	color: black;
}

.search {
	position: absolute;
	left: 49px; /* Button width-1px (Not 50px/100% because that will sometimes show a 1px line between the search box and button) */
  background-color: #242222;
  color: #fff;
	outline: none;
	border: none;
	padding: 0;
	width: 0;
	height: 100%;
	z-index: 10;
  transition-duration: 0.4s;
  font-size: 15px;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
}

.search:focus {
	width: calc(100% - 49px); /* Bar width+1px */
  padding: 0 16px 0 0;
}

.expandright {
	left: auto;
  right: 49px; /* Button width-1px */
}
  
  .expandright::placeholder{
    color: #fff;
  }

.expandright:focus {
  padding: 0 0 0 16px;
  border-bottom: 1px solid #242222;
}
.form-search{
 display: flex;
 justify-content: flex-end;
 margin: 40px 0;
}

.nav-right{
  width: 200px;
  display: flex;
  align-content: center;
  align-items: center;
}

.navigation {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background: #111111;;
  z-index:200;
  clip-path:circle(25px at calc(100% - 45px) 40px);
  transition:all 500ms ease-in-out;
}
.navigation.active {
  clip-path:circle(75%);
}
.navigation .ham-btn {
  position:absolute;
  top: 15px;
  right:20px;
  width:50px;
  height:50px;
  border-radius:50%;
  cursor:pointer;
  
  border: 2px solid #fff;
}
.navigation .ham-btn span {
  position:absolute;
  left:50%;
  transform:translate(-50%,-50%);
  width:50%;
  height:2px;
  background:#f5f5f5;
  transition:all 200ms ease-in-out;
}
.navigation .ham-btn span:nth-child(1) {
  top:30%;
}
.navigation .ham-btn span:nth-child(2) {
  top:50%;
}
.navigation .ham-btn span:nth-child(3) {
  top:70%;
}

.navigation.active .ham-btn span:nth-child(1) {
  top:50%;
  transform:translate(-50%,-50%) rotate(45deg);
}
.navigation.active .ham-btn span:nth-child(2) {
  display:none;
}
.navigation.active .ham-btn span:nth-child(3) {
  top:50%;
  transform:translate(-50%,-50%) rotate(-45deg);
}

.navigation .links {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  text-align:center;
}
.navigation .links a {
  position:relative;
  display:inline-block;
  margin:20px 0px;
  font-size:20px;
  font-weight:600;
  text-decoration:none;
  color:#f5f5f5;
  text-transform:uppercase;
  letter-spacing:5px;
}
.navigation .links a:after {
  content:"";
  position:absolute;
  left:0px;
  bottom:-5px;
  height:2px;
  width:0%;
  background:tomato;
  transition:all 300ms ease-in-out;
}
.navigation .links a:hover:after {
  width:100%;
}

.fa-shopping-cart{
  color: #ffffff;
}